<nvd3-line-chart
    data="cumulativeLineData"
    width="600"
    height="350"
    showXAxis="true"
    showYAxis="true"
    x="getX",
    y="getY",
    xAxisTickFormat="xAxisTickFormat_Date_Format()"
    yAxisTickFormat="yAxisFormatFunction()"
    callback="chartCreated"
    objectEquality="true"
    >
</nvd3-line-chart>

<h3>Activity List</h3> <ul class="activities">
<li ng-repeat="useractivity in useractivities track by useractivity.id">
<div><a ng-href="#/view/{{useractivity.id}}">{{useractivity.email}} {{useractivity.first_name}} {{useractivity.last_name}}</a></div>
</li> </ul>